body{
    background-color: rgb(184, 184, 184);
}

.navbar{
    background-color: #3200C3;
}

.nav-link{
    color: white;
}

.btn{
    color: white;
    border-color: white;
}

.container{
    background-color: white;
}

h1{
    text-align: center;
}

.axelis{
    font-family: 'Rock Salt', cursive;
}

h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px #3200C3, -2px -2px #3200C3, 2px -2px #3200C3, -2px 2px #3200C3;
}

#panel{
    height: 350px;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

hr{
    background-color: transparent;
    border-top: dotted #3200C3;
    opacity: .8;
}

.juego{
    color: #FF7800;
}

.aplicacion{
    color: #028E9B;
}

.sinborde{
    border: none;
}