<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="views/assets/css/bootstrap.min.css">
    <!-- CSS propio -->
    <link rel="stylesheet" href="views/assets/css/style.css">
    <title>Axelis</title>
</head>