<nav class="navbar">
    <div class="container-fluid text-center">
        <a class="nav-item col-12 col-xl-auto m-3" href="index.php"><img src="views/assets/img/Logotipo-90px.png" alt=""></a>

        <ul class="nav nav-pills col m-3">
            <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" href="index.php">Inicio</a></li>
            <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" href="proyecto.php">Proyecto</a></li>
            <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" href="aplicaciones.php">Aplicaciones</a></li>
            <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" href="juegos.php">Juegos</a></li>
            <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" href="nosotros.php">Nosotros</a></li>
            <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" href="contactanos.php">Contactanos</a></li>
        </ul>

        <form class="d-flex nav-item col-12 col-lg-auto">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>